<html>
  <style>
    .info {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: auto;
      max-width: 700px;
      height: auto;
      max-height: 150px;
    }

    .info td, .info th {
        background-color: #ffffff;
        border: 1px solid #ddd;
        padding: 8px;
    }

    .info th {
        background-color: #f2f2f2;
        color: black;
    }
  </style>
  <h1 class="info"> {{ .title }} </h1>

  <table class="info" style="text-align:left">
    <tr>
      <th>Release Tag</th>
      <td><code>${app_release}</code></td>
    </tr>
     <tr>
      <th>Release Timestamp</th>
      <td><code>${app_timestamp}</code></td>
    </tr>
    <tr>
      <th>Instance Hostname</th>
      <td><code id="hostname"></code></td>
    </tr>
    <tr>
      <th>Instance Id</th>
      <td><code id="instance_id">`curl http://169.254.169.254/latest/meta-data/instance-id`</code></td>
    </tr>
    <tr>
      <th>Request Uuid</th>
      <td><code id="request"></code></td>
    </tr>
  </table>
  <script>
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
        xmlHttp.send(null);
    }

    httpGetAsync('/api/v1/info', function(res) {
      var info = JSON.parse(res);
      document.getElementById('hostname').innerText = info.hostname;
      document.getElementById('request').innerText = info.uuid;
    });
  </script>
</html>

